img {
    width: 10%;
    height: auto;
    display: block;
      margin-left: auto;
    margin-right: auto;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
    text-align: center;
    font-family: 'Phantom Sans';
    background-color: beige;
}